body {
    background-color: whitesmoke;
}

h1 {
    color: #5f9cb8;
    font-size: 4em;
    margin-bottom: 2rem;
    text-align: center;
}

p {
    color: black;
}

h2 {
    color: #5f9cb8;
    font-size: 1.5rem;
    margin-top: 0;
}

a:link {
    color: #ff383f;
}

a:visited {
    color: #bf2a2f;
}

a:hover {
    color: #32bfff;
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer li {
    font-size: 14px;
    margin: 0 2em;
    display: inline-block;
    text-align: center;
}

footer p {
    margin: 0.5em;
}
