body {
    background-color: white;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}
header,
nav {
    margin: 0;
}
nav ul {
    text-align: right;
    list-style-type: none;
}
nav li {
    display: inline-flex;
    padding: 1em;
    background-color: #ff7a4d;
}

nav li:hover {
    background-color: #ffc819;
}
.page_title {
    margin: 0 auto 2rem;
    font-size: 4em;
    text-align: center;
    color: #33beff;
}

h1 {
    color: #405eff;
    font-size: 2rem;
    text-align: left;
}

p {
    color: black;
}

h2 {
    color: #405eff;
    font-size: 1.5rem;
    margin-top: 0;
}

a:link {
    color: #ff7a4d;
}

a:visited {
    color: #405eff;
}

a:hover {
    color: #ffc819;
}
footer {
    font-size: 14px;
    margin-bottom: 1em;
}
footer ul {
    list-style-type: none;
    text-align: center;
}

footer li {
    margin: 0 2em;
    display: inline-block;
    text-align: center;
}

footer p {
    margin: 0.5em;
}
